@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* Variables */
:root {
  --background-dark: #181818;
  --background-darker: #090909;
  --background-light: #171717;
  --color-white: #ffffff;
  --color-text: #ffffff;
  --gap-large: 20px;
  --gap-small: 3vw;
  --font-size-title: 100px;
  --subtitle-weight: normal;
  --subtitle-size: 40px;
  --banner-height: 10vh;
  --parrafos-size: 20px;
}

/* General */
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--background-dark);
  color: var(--color-text);
  text-align: justify;
}

h1 { 
  font-weight: var(--subtitle-weight);
  font-size: var(--subtitle-size);
}

p {
  font-size: var(--parrafos-size);
  font-weight: var(--subtitle-weight);
}

/* Header */
.headerContainer {
  position: relative;
  z-index: 111;
  height: 3vw;
  position: fixed;
  justify-content: end;
  width: 100%;
  background-color: rgba(55, 55, 55, 0);
  color: white;
  display: flex;

  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 400px;
}

@keyframes enhance-header{
  to{
    color: rgb(0, 0, 0);
     background: rgba(46, 46, 50, 0.951);
  }
 
}

.optionsHeader {
  padding-right: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.navLinks {
  text-decoration: none;
  color: white;
  font-variant: small-caps;
}

.navLinks:hover {
  opacity: 50%;
  cursor: pointer;
}

.pageLogotype {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.headerLogo {
  display: none;
  margin-left: 20px;
  max-width: 30px;
  max-height: 30px;
}
.headerTitle{
  display: none;
  font-size:x-large;
}

/* Banner Inicio */
.bannerContainer {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.innitBanner {
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 100vh; /* 100% del alto de la vista */
}


.rightSide{
  position: relative;
  z-index: 0;
  background: url(assets/brainpattern.jpg);
  background-size: cover; 
  height: 100vh;
  width: 50%;
  opacity: 95%;
  align-content:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
}

.rightSide:hover{
  background: url('assets/brainpattern4.jpg');
  background-size: cover; 
  transition: all 0.5s ease-out;
}
.rightSide:hover::after{
  background: url('assets/brainpattern.jpg');
  background-size: cover; 
  transition: all 0.5s ease;
}

.rightSide:hover .bannerLogo{
  cursor: pointer;
  animation: moveLogodtu 20000s ease-out ;
}
.rightSide:hover .bannerTitle{
  cursor: pointer;
  animation: moveLogoDown 20000s ease-out ;
}

.circle{
  background-color: #090909;
  width: 270px;
  height: 270px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  display: none;
  padding-top: 50px;
  transition: all 0.5s ease-out;
  justify-self: center;
  align-self: center;
}

.circle img{
  padding-top: 40px;
}

.circle h1{
  font-size: 30px;
}

.rightSide:hover .circle{
  display: block;
  animation: circleAppear 1s ease-out;
}

@keyframes circleAppear{
  from { transform:scale(0); }
  to { transform: scale(1); }
}

@keyframes moveLogodtu{
  from { transform: translateY(110px); }
  to { transform: translateY(-6000000px); }
}

@keyframes moveLogoDown{
  from { transform: translateY(110px); }
  to { transform: translateY(6000000px); }
}

.logoContainer{
  z-index: 1;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.bannerLogo {
  max-width: 90px;
  max-height: 90px;
  animation: moveCardutd 1s ease;
}

.bannerTitle {
  font-weight: normal;
  color: white;
  font-size: 80px;
  animation: moveCarddtu 1s ease;
}

.refran {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bold;
  max-width: 400px;
  font-size: 65px;
}
.parrafoBanner{
  z-index: 1;
  color: white;
  z-index: 1;
  padding-top: 30px;
  font-weight:bold;
  max-width: 470px;
  font-size: 25px;
}

.leftSideContainer{
  padding-left: 90px;
  text-align:left;
  gap: 110px;
}

.leftSide{
  z-index: 1;
  align-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 3, 19, 0.603);
  width: 50%;
}

.leftSide:hover{
  cursor: pointer;
}



/* Banner Inicio */

/*.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 565px solid transparent;
  border-top:370px solid white;
  animation: moveTri 2s;
}*/

/* Animaciones */
@keyframes moveTri {
  from { transform: translateX(-660px); }
  to { transform: translateX(0px); }
}

@keyframes move {
  from { transform: translateY(-800px); }
  to { transform: translateY(0px); }
}

@keyframes moveup {
  from { transform: translateY(500px); }
  to { transform: translateY(0px); }
}

@keyframes moveleftToRight {
  from { transform: translateX(-600px); }
  to { transform: translate(0px); }
}

@keyframes moveRightToLeft {
  from { transform: translateX(1600px); }
  to { transform: translate(0px); }
}


@keyframes moveCardltr {
  from { transform: translateX(-300px); }
  to { transform: translateX(0px); }
}

@keyframes moveCardutd {
  from { transform: translateY(-600px); }
  to { transform: translateY(0px); }
}

@keyframes moveCarddtu {
  from { transform: translateY(600px); }
  to { transform: translateY(0px); }
}

@keyframes moveCardrtl {
  from { transform: translateX(300px); }
  to { transform: translateX(0px); }
}

@keyframes moveBackToFront {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

#c1{
  animation: moveCardutd 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1300px;
}
#c2{
  animation: moveCarddtu 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1500px;
}
#c3{
  animation: moveCardutd 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1300px;
}
#c4{
  animation: moveCarddtu 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1300px;
}
#c5{
  animation: moveCarddtu 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1300px;
}
#c6{
  animation: moveCarddtu 2s;
  animation-timeline: scroll(root);
  animation-range: 0 1300px;
}

/* Sección Nosotros */
.aboutUsSection {
  padding-top: 15vh;
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 80vh; /* 100% del alto de la vista */
  background-color: #171717;
  animation: moveleftToRight 5s;
  animation-timeline: scroll(root);
  animation-range: 0 750px;
}

.aboutUsContent {
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.descripcion {
  align-self: center;
  max-width: 900px;
  text-justify: inter-word;
}

.secondaryTriangle {
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: 500px solid transparent;
  border-bottom: 220px solid white;
}

/* Services Section */
.servicesSectionContainer {
  padding-top: 15vh;
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 100vh; /* 100% del alto de la vista */
  background-color: white;
  opacity: 95%;
  color: #090909;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  border-radius: 15% 0 15% 0;
  width: 20vw;
  height: 22vh;
  background: url('./assets/bcw.jpg');
  background-size: cover;
  border: solid 2px #090909;
  align-content: center;
  transition: all 0.5s ease-out;
}

.serviceCard:hover {
  scale: 1.2;
  cursor: pointer;
  background: url('./assets/bc2.jpg');
  background-size: cover;
  color: white;
  border-radius: 0 15% 0 15%;
}

/* Grid Section */
.gridSection {
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 45px;
  padding: 20px;
  justify-items: center;
}

.gridSection p {
  font-size: medium;
  padding: 20px;
}

.terciaryTriangle {
  position: absolute;
  top: 266.4vh;
  right: 0;
  border-left: 880px solid transparent;
  border-top: 100px solid #181818;
}

/* Tecnologies Section */
.tecnologiesSection {
  padding-top: 15vh;
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 70vh; /* 100% del alto de la vista */
  color: white;
  background-color: #171717;
}

.tecnologiesContainer {
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
  animation: moveBackToFront 2s;
  animation-timeline: scroll(root);
  animation-range: 0 2200px;
}

/*contact Section*/
.contactSection{
  padding-top: 15vh;
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 80vh; /* 100% del alto de la vista */
  color: white;
  background-color: #171717;
}
.contactContainer{
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.socialMedias{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.socialMediasContainer{
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 130px;
}
.contactDescription{
  align-self: center;
  max-width: 1000px;
  text-justify:inter-word;
}
.link{
  text-decoration: none;
  color: #ffffff;
}

/*product section*/
.productSection{
  padding-top: 8vh;
  text-align: center;
  width: 100%; /* 100% del ancho de la vista */
  height: 110vh; /* 100% del alto de la vista */
  color: white;
  background-color: rgb(0, 0, 0);
}
.descrpProd{
  max-width: 600px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.wrapper{
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.productContainer{
  position: relative; /* Establece un contexto para las posiciones absolutas */
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 40px;
}
.productInfo{
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-self: center;
}

.card{
  position: absolute;
  width: 220px;
  height: 450px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  border-radius: 2rem;
  display: flex;
  transition: .6s cubic-bezier(0.8, 2,0,2);
  transition: transform 1s ease;
}
.card:hover{
  z-index: 1111;
  transform: scale(1.15); 
}

.card > .row{
  color: rgb(0, 0, 0);
  display: flex;
}
.card > .row >.icon{
  background-color: #223;
  color: rgb(255, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card > .row > .description{
  margin-left: 0px;
  display: flex;
  justify-content: center;
  font-size: smaller;
  text-align: center;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 410px;
  opacity: 0;
  color: rgb(255, 255, 255);
}
.miniDescription{
  margin-top: 15px;
  align-self: self-end;
  display: block;
  overflow: hidden;
  padding: 10px;
}


@keyframes textAnimation{
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(510px);
  }
}

.description p{
  color: #ffffff;
  padding-top: 5px;
}
.description h4{
  text-transform: uppercase;
}
input{
  display: none;
}
input:checked + label{
  width: 200px;
}
input:checked + label .description{
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.card[for="cc1"] {
  background-image: url('./assets/ss1.png');

}
.card[for="cc2"] {
  background-image: url('./assets/ss2.png');

}
.card[for="cc3"] {
  background-image: url('./assets/ss3.png');
}
.card[for="cc4"] {
  background-image: url('./assets/ss4.png');
}
.card[for="cc5"] {
  background-image: url('./assets/ss5.png');
}
.card[for="cc6"] {
  background-image: url('./assets/ss6.png');
}
.card[for="cc7"] {
  background-image: url('./assets/ss7.png');
}